*{
    font-family: Arial, Helvetica, sans-serif;
}
.filter-bar {
    margin-top: 1%;
    padding: 20px;
    background-color: #ffffff;
  }
  
  .filter-bar .root {
    padding: 2px 4px;
    display: flex;
    align-items: center;
  }
  
  .input {
    flex: 1;
    margin-left: 10px;
  }
  
  .filter-bar .MuiInput-underline {
    padding-left: 8px;
  }
  
  .filter-bar .MuiInput-underline:before,
  .filter-bar .MuiInput-underline:after {
    display: none;
  }
  
  .result-message {
    margin: 0;
    font-size: 20px;
    padding-top: 20px;
    color: #000000;
  }